In [1]:
%cd ~/user_data/research/git/zero-shot-object-detection/frontend_owlvit/owlv2_coco_base
%pwd

/mnt/researchfiles/ECE IMAPLE/cluster_data/user_data/jw3897/research/git/zero-shot-object-detection/frontend_owlvit/owlv2_coco_base

'/mnt/researchfiles/ECE IMAPLE/cluster_data/user_data/jw3897/research/git/zero-shot-object-detection/frontend_owlvit/owlv2_coco_base'

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from torchvision.datasets import CocoDetection
%matplotlib inline

In [3]:
val_image_dir = r'/mnt/active_storage/Joe/coco_set/val2017/images'
val_annotation_path = r'/mnt/active_storage/Joe/coco_set/val2017/annotations/ovd_ins_val2017_b.json'

coco_val_dataset = CocoDetection(
    root=val_image_dir, 
    annFile=val_annotation_path,
)

ovd_base_image_ids = []
for item in coco_val_dataset:
    ovd_base_image_ids.append(item[1][0]['image_id'])

loading annotations into memory...
Done (t=0.39s)
creating index...
index created!

In [4]:
all_predictions_df = pd.read_parquet(r'./owlv2_coco_base_predictions.parquet')

In [21]:
objectness_threshold = 0.0
score_threshold = 0.2

predictions_likely_objects = all_predictions_df[all_predictions_df['objectness_score'] >= objectness_threshold].sort_values('objectness_score', ascending=False).groupby('image_id').head(100).sort_values('image_id')
predictions_likely_objects = predictions_likely_objects.loc[predictions_likely_objects['image_id'].isin(ovd_base_image_ids)]

known_objects = predictions_likely_objects[predictions_likely_objects['score'] >= score_threshold]
unknown_objects = predictions_likely_objects[predictions_likely_objects['score'] <= score_threshold]

display(known_objects)
display(unknown_objects)

print(f"Number of Known Annotations: {len(known_objects)}. Number of Unknown Annotations: {len(unknown_objects)}")

,image_id,label,score,objectness_score,xmin,ymin,xmax,ymax
765,139,microwave,0.229703,0.179643,475.752838,136.431610,526.004883,173.896881
1468,139,chair,0.364022,0.199324,291.084167,217.038559,347.739258,318.366211
1357,139,chair,0.253157,0.139192,361.484344,220.033051,416.643402,319.217651
1150,139,tv,0.704314,0.542719,5.215874,166.488068,154.236847,267.109009
1234,139,vase,0.277378,0.199731,360.495758,214.076416,373.933350,230.871002
...,...,...,...,...,...,...,...,...
176757,581781,banana,0.516635,0.479393,566.385925,20.779924,639.532349,76.277885
176504,581781,banana,0.281908,0.292048,467.331970,0.271463,637.642700,78.555290
178090,581781,banana,0.501420,0.479716,57.712212,207.347290,126.073990,341.958252
177492,581781,banana,0.521668,0.479407,63.807507,153.938889,176.497787,212.666382
177238,581781,banana,0.248219,0.246031,608.979065,107.911682,639.805481,194.575684

,image_id,label,score,objectness_score,xmin,ymin,xmax,ymax
1225,139,book,0.009340,0.078159,199.232178,211.840805,291.296356,217.910477
1487,139,oven,0.197912,0.113590,491.950195,234.107697,512.565674,282.827118
1635,139,book,0.072577,0.096243,139.385193,279.054382,198.543854,292.110962
269,139,bowl,0.018758,0.191679,290.867737,33.842186,326.240662,61.796654
1476,139,chair,0.089231,0.067959,364.272827,219.867401,437.871338,317.796570
...,...,...,...,...,...,...,...,...
177140,581781,orange,0.013395,0.365543,188.087189,97.985275,237.499969,152.312576
177278,581781,banana,0.030917,0.268310,388.986481,123.088112,447.452820,163.840027
176485,581781,orange,0.023965,0.375496,238.338928,0.377443,289.376465,45.610855
177212,581781,banana,0.015526,0.313488,300.347595,121.727982,365.576233,160.053619
178513,581781,clock,0.024122,0.242445,0.252419,327.298126,223.797745,461.480957

Number of Known Annotations: 40225. Number of Unknown Annotations: 413075

In [15]:
len(known_objects['image_id'].unique())

4464

In [14]:
len(unknown_objects['image_id'].unique())

3892

In [18]:
objectness_scores = [0, 0.05, 0.1, 0.15, 0.2]
score_threshold = [0, 0.05, 0.1, 0.15, 0.2]

In [ ]:
content = [
    [
        'mAP: 0.4140\nKnown:  453300\nUnknown: 0',
        'mAP: 0.4131\nKnown:  131034\nUnknown: 322266', 
        'mAP: 0.4104\nKnown:  81702\nUnknown:  371598', 
        'mAP: 0.4048\nKnown:  56179 \nUnknown:  397121', 
        'mAP: 0.3961\nKnown:  40225\nUnknown:  413075', 
    ],
    [
        'mAP: 0.4137\nKnown:  314699\nUnknown: 0',
        'mAP: 0.4131\nKnown:  126850\nUnknown: 187849',
        'mAP: 0.4104\nKnown:  81364\nUnknown: 233335',
        'mAP: 0.4048\nKnown:  56127\nUnknown: 258572',
        'mAP: 0.3961\nKnown:  40218\nUnknown: 274481',
    ],
    [
        'mAP: 0.4115\nKnown:  174828\nUnknown: 0',
        'mAP: 0.4110\nKnown:  93808\nUnknown: 81020',
        'mAP: 0.4091\nKnown:  70776\nUnknown: 104052',
        'mAP: 0.4042\nKnown:  53851\nUnknown: 120977',
        'mAP: 0.3959\nKnown:  39651\nUnknown: 135177',
    ],
    [
        'mAP: 0.4022\nKnown:  98985\nUnknown: 0',
        'mAP: 0.4017  \nKnown: 60210\nUnknown: 38775',
        'mAP: 0.4004\nKnown:  49433\nUnknown: 49552',
        'mAP: 0.3974\nKnown:  42738\nUnknown: 56247',
        'mAP: 0.3915\nKnown:  35759\nUnknown: 63226',
    ],
    [
        'mAP: 0.4140\nKnown:  453300\nUnknown: 0',
        'mAP: 0.4140\nKnown:  453300\nUnknown: 0',
        'mAP: 0.4140\nKnown:  453300\nUnknown: 0',
        'mAP: 0.4140\nKnown:  453300\nUnknown: 0',
        'mAP: 0.4140\nKnown:  453300\nUnknown: 0',
    ],
] # Finish this heatmap when I return, then need to get ready to ingest Amir's Data

In [ ]:
fix, ax = plt.subplots()
im = ax.imshow(harvest)

In [6]:
adam_df = pd.read_parquet(r'/mnt/archive/owlvit_results/coco_base_prepared_for_adam_obj2_score1.parquet')

In [12]:
len(adam_df['image_id'].unique())

3892