In [1]:
%cd ~/user_data/research/git/zero-shot-object-detection/frontend_owlvit/owlv2_coco_base
%pwd

/mnt/researchfiles/ECE IMAPLE/cluster_data/user_data/jw3897/research/git/zero-shot-object-detection/frontend_owlvit/owlv2_coco_base

'/mnt/researchfiles/ECE IMAPLE/cluster_data/user_data/jw3897/research/git/zero-shot-object-detection/frontend_owlvit/owlv2_coco_base'

In [2]:
import pandas as pd

In [3]:
original_adam_df = pd.read_parquet(r'/mnt/archive/owlvit_results/coco_base_prepared_for_adam_obj2_score1.parquet')

In [4]:
display(original_adam_df)

,image_id,known_object_labels,known_object_bboxes,unknown_object_bbox,unknown_object_potential_label,unknown_object_class_score,unknown_object_objectness
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[555.129150390625, 290.8760681152344, 577.7758...",vase,0.048069,0.234920
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[466.03692626953125, 354.44500732421875, 637.8...",chair,0.019408,0.247597
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[337.8964538574219, 176.37796020507812, 381.80...",vase,0.016014,0.221426
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[217.28807067871094, 232.3456573486328, 296.70...",zebra,0.002407,0.654636
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[218.589599609375, 0.23985624313354492, 320.86...",clock,0.010626,0.217656
...,...,...,...,...,...,...,...
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[331.1354064941406, 72.22920227050781, 381.259...",banana,0.013458,0.320759
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[296.6373596191406, 30.675127029418945, 337.89...",orange,0.012246,0.347357
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[388.9864807128906, 123.0881118774414, 447.452...",banana,0.030917,0.268310
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[289.3376770019531, 123.22624969482422, 324.08...",orange,0.019083,0.268582
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[235.80140686035156, 109.46903228759766, 287.8...",orange,0.017501,0.339022

In [5]:
min_dim = 16

modified_adam_df = original_adam_df.copy()

In [6]:
modified_adam_df['above_mindim'] = ((modified_adam_df['unknown_object_bbox'].str[2] - modified_adam_df['unknown_object_bbox'].str[0]) > min_dim)  & ((modified_adam_df['unknown_object_bbox'].str[3] - modified_adam_df['unknown_object_bbox'].str[1]) > min_dim)

In [7]:
assert len(modified_adam_df) == len(original_adam_df), "Modification somehow changed df length"

In [8]:
parquet_path = r'/mnt/archive/owlvit_results/owlv2_cocounknowns_preppedforadam_withmindim.parquet'
modified_adam_df.to_parquet(parquet_path)

In [9]:
loaded_df = pd.read_parquet(parquet_path)
assert modified_adam_df.equals(loaded_df), "Either the save or loading process broke."

In [10]:
display(loaded_df)

,image_id,known_object_labels,known_object_bboxes,unknown_object_bbox,unknown_object_potential_label,unknown_object_class_score,unknown_object_objectness,above_mindim
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[555.129150390625, 290.8760681152344, 577.7758...",vase,0.048069,0.234920,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[466.03692626953125, 354.44500732421875, 637.8...",chair,0.019408,0.247597,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[337.8964538574219, 176.37796020507812, 381.80...",vase,0.016014,0.221426,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[217.28807067871094, 232.3456573486328, 296.70...",zebra,0.002407,0.654636,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[218.589599609375, 0.23985624313354492, 320.86...",clock,0.010626,0.217656,True
...,...,...,...,...,...,...,...,...
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[331.1354064941406, 72.22920227050781, 381.259...",banana,0.013458,0.320759,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[296.6373596191406, 30.675127029418945, 337.89...",orange,0.012246,0.347357,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[388.9864807128906, 123.0881118774414, 447.452...",banana,0.030917,0.268310,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[289.3376770019531, 123.22624969482422, 324.08...",orange,0.019083,0.268582,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[235.80140686035156, 109.46903228759766, 287.8...",orange,0.017501,0.339022,True

In [12]:
objects_above_mindim = loaded_df[loaded_df['above_mindim'] == True]
display(objects_above_mindim)

,image_id,known_object_labels,known_object_bboxes,unknown_object_bbox,unknown_object_potential_label,unknown_object_class_score,unknown_object_objectness,above_mindim
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[555.129150390625, 290.8760681152344, 577.7758...",vase,0.048069,0.234920,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[466.03692626953125, 354.44500732421875, 637.8...",chair,0.019408,0.247597,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[337.8964538574219, 176.37796020507812, 381.80...",vase,0.016014,0.221426,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[217.28807067871094, 232.3456573486328, 296.70...",zebra,0.002407,0.654636,True
0,139,"[vase, vase, tv, vase, tv, vase]","[[350.8769226074219, 209.57444763183594, 362.1...","[218.589599609375, 0.23985624313354492, 320.86...",clock,0.010626,0.217656,True
...,...,...,...,...,...,...,...,...
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[331.1354064941406, 72.22920227050781, 381.259...",banana,0.013458,0.320759,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[296.6373596191406, 30.675127029418945, 337.89...",orange,0.012246,0.347357,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[388.9864807128906, 123.0881118774414, 447.452...",banana,0.030917,0.268310,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[289.3376770019531, 123.22624969482422, 324.08...",orange,0.019083,0.268582,True
0,581781,"[banana, banana, banana, banana, banana, banan...","[[463.3008117675781, 422.8099365234375, 592.42...","[235.80140686035156, 109.46903228759766, 287.8...",orange,0.017501,0.339022,True